# Assignment Day-2.

# 1. python and its syntax.

Python has a very simple syntax, hence which makes it to learn quickly and easy. For example:

In [1]:
print("hello world!")

hello world!

Here we can see that it just takes one line to print hello world, compared to  other PL's. Probably this can be the smallest peice of code.

# backslash

Backslash in a special character \ also called the escape character.
Its used in representing whitespace characters: \t . \n , \r , \\...for example:

In [3]:
print("cat","dog","fox")

cat dog fox

In [4]:
print("cat\tdog")

cat	dog

In [5]:
print("cat\ndog")

cat
dog

# Triple quotes

to create stringss in python we use triple quotes similar to double quotes
'''abc''' or "abc" for example:

In [6]:
print('''abc''')

abc

In [7]:
print("abc")

abc

# string inside the quotes

In [8]:
print('''She said, "thank you!Its mine."''')

She said, "thank you!Its mine."

# Escape sequence of a string

\\ prints backslash,for example

In [9]:
print("\\")

\

\' print single quotes

In [12]:
print("\'")

'

# 2. variables

A variable is a name given to a apecific object inorder to allocate some memory in the RAM.

# rules to write  a variable name.

---> A variable cannot start with number.

---> A variable cannot have special symbols.

---> A variable can start with _ underscore.

---> it can have alpha-numeric values.

--->Its case-sensitive.

In [13]:
12="abc"

SyntaxError: can't assign to literal (<ipython-input-13-a594abbfbdf9>, line 1)

In [17]:
_=2

In [18]:
_

2

In [19]:
A=23

In [20]:
a=34

In [21]:
A

23

In [22]:
a

34

# 3. operators

# Airthmetic operator - Addition, Subtraction, exponentiation, multiplication and so on..

In [24]:
print(2+3)

5

In [25]:
print(3-2)

1

In [26]:
print(3**2)

9

In [28]:
print(10%2)

0

In [29]:
print(10/2)

5.0

# assignment operator - +=, -= , == ,/=, %= ..

In [34]:
a=9

In [35]:
a

9

In [43]:
a=2
a+=3
print(a)

5

In [44]:
a=2
a-=1
print(a)

1

In [45]:
a=2
a*=3
print(a)

6

# Comparision operator : ==, !=, >, < , >=, <=

In [46]:
x=5
y=3
print(x==y)

False

In [47]:
x=5
y=3
print(x!=y)

True

In [48]:
x=5
y=3
print(x>y)

True

In [49]:
x=5
y=3
print(x<y)

False

In [50]:
x=5
y=3
print(x>=y)

True

# Logical operators: and, or , not

In [51]:
x=5
print(x>3 and x<10)

True

In [53]:
x=5
print(x>3 or x<10)

True

In [55]:
x=5
print(not(x>3 and x<10))

False

# Identity operator: is , is not

In [58]:
x=6
y=9
print(x is not y)

True

In [57]:
x=8
y=8
print(x is y)

True

# Membership operator: in , not in

In [59]:
x="my name is vaishnavi priya"
print("v"in x)

True

In [60]:
x="my name is vaishnavi priya"
print("v" not in x)

False